engine/__pycache__/trainer.cpython-310.pyc
models/__pycache__/model.cpython-310.pyc
utils/__pycache__/data.cpython-310.pyc
utils/__pycache__/other.cpython-310.pyc
utils/.DS_Store
utils/__pycache__/checkpoint.cpython-310.pyc
utils/__pycache__/transforms.cpython-310.pyc
utils/__pycache__/other.cpython-310.pyc
utils/__pycache__/data.cpython-310.pyc
utils/__pycache__/checkpoint.cpython-310.pyc
models/__pycache__/model.cpython-310.pyc
engine/__pycache__/trainer.cpython-310.pyc
